body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(assets/Norse-Bold.otf);
}

li {
    list-style: none;
}

a, 
a:visited {
    color: white;
}
.left-side {
    width: 30vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: 'Norse-Bold';
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-logo {
    font-size: 120px;
    position: absolute;
    width: 30vw;
    top: 25vh;
    background-color: #00000065;
    color: white;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.left-side p {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.left-side h1 {
    margin: 0;
    padding-top: 50px;
}

.left-side .background-image {
    width: 30vw;
    height: 100vh;
}

.right-side {
    font-size: 70px;
    width: 70vw;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.371) 10px 10px 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
}

.right-side ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    width: 60%;
    align-items: center;
    padding: 0;

}

.right-side li {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.right-side input {
    height: 90px;
    width: 800px;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 15px;
}

legend {
    width: fit-content;
    font-size: 120px;
    font
}